html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Lora', serif;
    background-color: #969FBF;
  }

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 10px 0;    
    color: rgb(41, 6, 156);
    text-shadow: 3px 3px 1px black;
  }

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 10px 0;   
}

h3{
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 10px 0;  
}
p, li {
    text-align: center;
    font-size: 16px;   
    line-height: 2;
    letter-spacing: 1px;
  }

body {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(165, 233, 201);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(255, 255, 255);
  }

img {
    display: block;
    margin: 0 auto;
    padding: 5px;
  }